{% extends "base.html" %}

{% block content %}
  {% load static from staticfiles %}
  <h1>Chatbot</h1>
  <form id="chatform">
    <table id="chat">
      <tbody>
        {% for message in messages %}
          <tr>
            <td>{{ message.owner }}</td>
            <td>{{ message.formatted_timestamp }}</td>
            <td>{{ message.user }}</td>
            <td>{{ message.message }}</td>
          </tr> 
        {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td>Say something:</td>
        <td colspan=2>
          <input id="message" type="text" placeholder="message">
          </td>
          <td>
          Character:
          <select id="mySelect">
            <option value=0 >general</option>
            <option value=1 >action</option>
            <option value=2>animation</option>
            <option value=3>comedy</option>
            <option value=4>crime</option>
            <option value=5>drama</option>
            <option value=6>fantasy</option>
            <option value=7>filmnoir</option>
            <option value=8>horror</option>
            <option value=9>romance</option>
            <option value=10>scifi</option>
            <option value=11>war</option>
          </select>
          <button class="btn btn-primary" type="submit" id="go">Say it</button>
          </td>
      </tfoot>
    </table>
  </form>
{% endblock content %}

{% block afterbody %}
  <script type="text/javascript" src='{% static "js/jquery-1.12.1.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/chat.js" %}'></script>
{% endblock afterbody %}